* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  margin-top: 15px;
  text-align: center;
}

#logo {
  max-width: 80%;
  margin: 15px;
}

.clear {
  clear: both;
}

/*
** Loading Animation Styles
*/

#loader {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  animation-name: loading;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle:first-child {
  background-color: #a10702;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  background-color: #f44708;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  background-color: #faa613;
  animation-delay: 0.4s;
  margin-right: 0px;
}

@keyframes loading {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}

.failed {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: indianred;
  margin: 15px;
}

/*
** Navbar Styles
*/

#navbar {
    position: relative;
    background-color: var(--foreground-color);
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
}

#navbar li {
    float: left;
    width: auto;
    padding: 20px;
    margin: 2px 2px;
    border-radius: 5px;
    color: var(--text-color);
}

#navbar a {
  text-decoration: none;
  color: inherit;
}

#navbar a:visited {
  color:inherit;
}

#navbar li:hover {
  background: var(--title-color);
}

#navbar li.search {
  float: right;
  padding: 0;
}

#navbar li.search input {
  border-radius: 5px;
  border: none;
  padding: 20px;
}

/*
** Data Styles
*/

.container {
  justify-content: center;
  max-width: 70%;
  margin: auto;
}

#output {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100%;
}

.model-info {
  box-shadow: 1px 1px 5px 0 var(--shadow-color);
  padding: 15px;
  margin: 15px;
  background-color: var(--foreground-color);
  color: var(--text-color);
  border-radius: 22px;
  font-size: 13px;
  overflow-wrap: break-word;
}

.model-info p:nth-child(1) {
  font-size: 25px;
  color: var(--title-color);
}

.model-info p:nth-child(8) {
  color: var(--comment-color);
}

/*
** Responsiveness
*/

@media (max-width: 550px) {
  .container {
    max-width: 100%;
  }

  #mavbar {
    text-align: center;
  }

  #navbar li {
    float: none;
  }
}