* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--text-color);
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  margin-top: 15px;
  text-align: center;
}

header h2{
  font-family: 'Permanent Marker', cursive;
  color: var(--title-color);
  font-size: max(2.25rem, 6vw);
  margin: 30px 0;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: var(--title-color);
  font-size: max(2.25rem, 6vw);
}

#logo {
  max-width: 80%;
  margin: 15px;
}

.clear {
  clear: both;
}

/*
** Loading Animation Styles
*/

#loader {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  animation-name: loading;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle:first-child {
  background-color: #a10702;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  background-color: #f44708;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  background-color: #faa613;
  animation-delay: 0.4s;
  margin-right: 0px;
}

@keyframes loading {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}

.failed {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: indianred;
  margin: 15px;
}

/*
** Navbar Styles
*/

#navbar {
    position: relative;
    background-color: var(--foreground-color);
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

#navbar li {
    float: left;
    width: auto;
    padding: 20px;
    margin: 2px 2px;
    border-radius: 5px;
}

#navbar a {
  text-decoration: none;
  color: inherit;
}

#navbar a:visited {
  color:inherit;
}

#navbar li:hover {
  background: var(--title-color);
}

#navbar li.search {
  float: right;
  
  padding: 0;
  width: 20%; 
  max-width: 350px; 
  min-width: 100px;
  background: red;
}

#navbar li.search input {
  position: relative;
  right: 40px;
  border-radius: 5px;
  border: none;
  padding: 20px 20px;
  width: 100%;
}

/*
** Data Styles
*/

.container {
  justify-content: center;
  max-width: 70%;
  margin: auto;
}

#output {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100%;
}

#count-output {
  background-color:#67706f;
  border-radius:3px;
  padding:2px 4px;
}

.model-info {
  box-shadow: 1px 1px 5px 0 var(--shadow-color);
  padding: 15px;
  margin: 15px;
  background-color: var(--foreground-color);
  border-radius: 22px;
  font-size: 13px;
  overflow-wrap: break-word;
}

.model-info p:nth-child(1) {
  font-size: 25px;
  color: var(--title-color);
  font-weight: bold;
}

.model-info p:nth-child(8) {
  color: var(--comment-color);
}

.model-info hr {
  margin: 5px 0;
  border: 1px solid var(--comment-color);
}

/*
** Floating Button
*/

.float-button {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right: 30px;
	background-color:var(--text-color);
  border-radius:50px;
  text-align:center;
  display: none;
}

.float-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.about {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  background: var(--foreground-color);
}

/*
** Responsiveness
*/

@media (max-width: 550px) {
  .container {
    max-width: 100%;
  }

  #mavbar {
    text-align: center;
  }

  #navbar li {
    float: none;
  }

  #navbar li.search{
    width: 100%;
    float: left;
    max-width: none; 
    min-width: none;
  }

  #navbar li.search:hover {
    background: none;
  }

  #navbar li.search input {
    right: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }
}